p{
  color: black;
}

.img_person {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: black 2px solid;
}



a.btn-grad {background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%)}
a.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 a.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



.img_social{
  width: 35px;
  height: 35px;
  padding: 10px;
}

body{
  height: 98vh;
  background: -webkit-linear-gradient(135deg, rgb(246, 183, 230) 10%, rgb(142, 218, 221) 100%);
  background: -moz-linear-gradient(135deg, rgb(246, 183, 230) 10%, rgb(142, 218, 221) 100%);
  background: linear-gradient(135deg, rgb(246, 183, 230) 10%, rgb(142, 218, 221) 100%);
}

.container {
  width:100%;
  height:100%;
  max-width: 400px;
  max-height: 550px;
  position: relative;
  padding: 2%;
  margin: 0 auto 40px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
#card {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

}




#card .flipper {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  -o-transition: -o-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(255, 255, 255);
  opacity: 0;
  /* радиус */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* тень */
  -webkit-box-shadow: 19px 27px 77px 26px rgba(105, 105, 105, 0.5); 
  -moz-box-shadow: 19px 27px 77px 26px rgba(105, 105, 105, 0.5); 
  box-shadow: 19px 27px 77px 26px rgba(105, 105, 105, 0.5);
}
#card .flipper:nth-child(2n) {
  
}
#card .flipper.flipped {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
  opacity:1;
}
#card .flipper.before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#card .flipper.after {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.map{
  text-align: center;
}

.text_name{
  
}