p{
  color: black;
}

.img_person {
  margin-top: 15px;
  width: 110px;
  height: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: black 2px solid;
}

a.bot8 {
  background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        border-radius: 4px;
    color: #555555;
    display:block;
        width:80px;
        margin: 20px auto;
    font-size: 14px;
        text-align:center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
        text-decoration:none;
}
a.bot8:hover, a.bot8:focus {
   border-color: rgba(82, 168, 236, 0.8);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
   outline: 0 none;
}

.img_social{
  width: 35px;
  height: 35px;
  padding: 10px;
}

body{
  height: 98vh;
  background: linear-gradient(to top left, powderblue, pink);
}

.container {
  width:100%;
  height:100%;
  max-width: 400px;
  max-height: 550px;
  position: relative;
  padding: 2%;
  margin: 0 auto 40px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
#card {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

}




#card .flipper {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  -o-transition: -o-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(255, 255, 255);
  opacity: 0;
  /* радиус */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* тень */
  -webkit-box-shadow: 19px 27px 77px 26px rgba(105, 105, 105, 0.2); 
  -moz-box-shadow: 19px 27px 77px 26px rgba(105, 105, 105, 0.2); 
  box-shadow: 19px 27px 77px 26px rgba(105, 105, 105, 0.2);
}
#card .flipper:nth-child(2n) {
  
}
#card .flipper.flipped {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
  opacity:1;
}
#card .flipper.before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#card .flipper.after {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.map{
  text-align: center;
}