p{
  color: black;
}

.img_person {
  margin-top: 15px;
  width: 110px;
  height: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: black 2px solid;
}

.img_social{
  width: 35px;
  height: 35px;
}

body{
  height: 98vh;
  background: linear-gradient(to top left, powderblue, pink);
}

.container {
  width: 400px;
  height: 550px;
  position: relative;
  margin: 0 auto 40px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
#card {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

}




#card .flipper {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  -o-transition: -o-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(255, 255, 255);
  opacity: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;


  
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#card .flipper:nth-child(2n) {
  
}
#card .flipper.flipped {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
  opacity:1;
}
#card .flipper.before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#card .flipper.after {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}